@import 'reset';
@import 'mixin';

body {
  width: 100vw;
  height: 100vh;

  header {
    padding: 16px;
    text-align: center;
  }

  main {
    padding: 16px;
    text-align: center;
  }

  section:first-of-type{
    ul {
      display: flex;
      li {
        list-style: none;
        flex-grow: 1;
        padding: 16px;

        &:hover {
          cursor: pointer;
          border: .5px solid #f00;
        }

        p {
          text-align: center;
        }
      }
    }
  }

  .muestra {
    .results {
      @include grid;
    }
  }

  .filtrado {
    div:first-of-type {
      display: flex;
      gap: 8px;
    }
    .resultsFilter {
      @include grid;
    }
  }
}